nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 110px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;

    /* transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: flex;
    gap: 0.8rem;
    padding: 0.7rem 1.7rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    z-index: 2; */
}

/* nav {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 3rem;

  background-color: #007f73;
  z-index: 1000;
} */


nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    font-size: 1.1rem;
    color: var(--color-light);
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-bg);
    color: var(--color-light);
}
